html {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #39384b;
}

.nav a {
  color: #e7e84d;
  list-style-type: none;
  text-decoration: none;
}

.banner-content {
  width: 9.4em;
  color: #fff;
}

.why-choose {
  background-color: #30536a;
}

.btn {
  color: #30536a;
  background-color: #e7e84d;
  border-color: #e7e84d;
  border-radius: .6em;
}

h1 {
  color: #e7e84d;
}

.border, .cards {
  border-color: #62cfeb;
  border-style: solid;
  border-width: .075rem;
  background-color: #39384b;
}

.highlight-title {
  background-color: #e7e84d;
  color: #39384b;
  border-style: solid;
  border-radius: .1em;
  border-color: #e7e84d;
}

.highlight {
  color: #e7e84d;
}

.green-box {
  border-color: #e7e84d;
  border-style: solid;
  border-width: .075rem;
}

.icon {
  background-color: rgba(255,255,255,0.8);
  border-color: rgba(255,255,255,0.8);
  border-style: solid;
  border-width: .075rem;
  border-radius: .1em;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #39384b;
}

table {
  border-collapse: collapse;
  background-color: #fff;
  color: #39384b;
}

th, td {
  border: 2px solid #e7e84d;
  padding: 0.75em;
}

thead th {
  background-color: #30536a;
  color: #fff;
  border-right: 1px solid #e7e84d;
  border-bottom: 1px solid #e7e84d;
}

tbody th {
  background-color: #30536a;
}

tfoot {
  background-color: #30536a;
}

.product-list {
  list-style-type: disc;
}

.blue-1 {
  background-color: #30536a;
  color: #fff;
}

.blue-2 {
  background-color: #33485e;
  color: #fff;
}

.blue-3 {
  background-color: #2e384a;
  color: #fff;
}

.blue-4 {
  background-color: #212936;
  color: #fff;
}
