html {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #39384b;
}

.nav a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.nav a:hover {
  color: #e7e84d;
}

.banner-content {
  width: 17em;
  color: #fff;
}

.why-choose {
  background-color: #30536a;
}

.roboto {
  font-family: 'Roboto Slab', serif;
}

.btn {
  color: #39384b;
  background-color: #e7e84d;
  border-color: #e7e84d;
  border-radius: .9em;
}

.btn:hover {
  background-color: #fff;
  border-color: #62cfeb;
  color: #39384b;
}

.customer-reviews {
  background-color: #30536a;
}

h1 {
  color: #e7e84d;
}

.border, .cards {
  border-color: #62cfeb;
  border-style: solid;
  border-width: .075rem;
  background-color: #39384b;
}

.highlight-title {
  background-color: #e7e84d;
  color: #39384b;
  border-style: solid;
  border-radius: .1em;
  border-color: #e7e84d;
}

.highlight {
  color: #e7e84d;
}

.green-box {
  border-color: #e7e84d;
  border-style: solid;
  border-width: .075rem;
}

.icon {
  background-color: rgba(255,255,255,0.8);
  border-color: rgba(255,255,255,0.8);
  border-style: solid;
  border-width: .075rem;
  border-radius: .1em;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.75em;
  border-bottom-color: #fff;
}

.product-list {
  list-style-type: disc;
}

.blue-1 {
  background-color: #30536a;
  color: #fff;
}

.blue-2 {
  background-color: #33485e;
  color: #fff;
}

.blue-3 {
  background-color: #2e384a;
  color: #fff;
}

.blue-4 {
  background-color: #212936;
  color: #fff;
}

label {
  display: block;
  color: #000;
}

form {
  background-color: #fff;
  color: #000;
  border-color: #e7e84d;
  border-width: 2px;
  border-style: solid;
  border-radius: .3em;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select {
  width: 15em;
}

fieldset,
legend {
  border: none;
}

footer {
  background-color: #39384b;
}

.current {
  color: #e7e84d;
}
